@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #2966b6;
  --second-color: #FFB800;
  --third-color: #29c068;
  --text-color: #fff;
  --text-color-light: hsl(203, 8%, 80%);
  --body-color: #0d0e29;
  --card-color: #070932;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #111222;
  user-select: none;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
/* SKROLL BAR  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(67, 161, 67); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b343a; 
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
  scroll-snap-align: start;
}

/* Shapes */
.home-shape-big-1,
.home-shape-big-2,
.home-shape-big-3,
.home-shape-big-4,
.home-shape-big-5,
.home-shape-small{
  position: absolute;
  border-radius: 50%;
  filter: blur(13rem);
}

.home-shape-small{
  width: 21rem;
  height: 22rem;
  background-color: var(--second-color);
  top: 14.5rem;
  left: 5.5rem;
}

.home-shape-big-1 {
  position: absolute;
  width: 30rem;
  height: 250px;
  background-color: var(--second-color);
  top: 1rem;
  right: -6.5rem;
}

.home-shape-big-2{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: var(--second-color);
  bottom: -3.5rem;
  left: -3.5rem;
}



.home-shape-big-3{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: var(--first-color);
  bottom: -36.5rem;
  left: 58.5rem;
}

.home-shape-big-4{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: var(--third-color);
  bottom: -83.5rem;
  left: -3.5rem;
}

.home-shape-big-5{
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: var(--third-color);
  bottom: -149.5rem;
  left: -3.5rem;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title{
  font-size: 4em;
  margin-bottom: 50px;
}

.content{
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image{
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
}
img {
  width: 50rem;
  display: block;
}
.content .image img{
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content .text-box{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box h3{
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons {
  margin-top: 100px;
  display: flex;
}

.media-icons a{
  color: #fff;
  font-size: 2em;
  margin: 60px;
}

.section-title{
  font-size: 3em;
  margin-bottom: 80px;
}

.info-title{
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info{
  width: 700px;
  margin-left: 50px;
}

.media-info{
  width: 400px;
  margin-left: 50px;
}

.media-info li{
  list-style: none;
  font-size: 1.4em;
}

.media-info li a{
  color: #fff;
  text-decoration: none;
}

.media-info li:not(:last-child){
  margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(5){
  padding-left: 100px;
}

.media-info li:nth-child(2), .media-info li:nth-child(4){
  padding-left: 50px;
}

.sec-03{
  margin-bottom: 100px;
}


.image-gallery {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.image-gallery .image-box {
  position: relative;
  background-color: #d7d7d8;
  overflow: hidden;
  border-radius: 10px;
}

.image-gallery .image-box:nth-child(7n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

.image-gallery .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.image-gallery .image-box:hover img {
  transform: scale(1.1);
}

.image-gallery .image-box .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fafafa7a;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1;
}

.image-gallery .image-box:hover .overlay {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  opacity: 1;
}

.image-gallery .image-box .details {
  text-align: center;
}

.image-gallery .image-box .details .title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: -5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.image-gallery .image-box .details .category {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  bottom: -5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.image-gallery .image-box:hover .details .title {
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.2s ease;
}

.image-gallery .image-box:hover .details .category {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.2s ease;
}

.image-gallery .image-box .details .title a,
.image-gallery .image-box .details .category a {
  color: #222222;
  text-decoration: none;
}

/* Let's make it responsive */
@media (max-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .image-gallery .image-box:nth-child(7n + 1) {
    grid-column: unset;
    grid-row: unset;
  }
}


.details i {
  color: #fff; 
  width: 3rem;
}

.image-gallery .image-box .details .title a, .image-gallery .image-box .details .category a {
  color: #ffffff;
  text-decoration: none;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  font-size: 1.5rem;
  color: #fff;
}